<!-- Footer -->
<footer class="footer">
    <div class="copy">
        <p>E: joaoariedi@gmail.com</p>
        <p>T: +55 14 9 9107 06 36</p>
    </div>
    <div class="soc-box">
        <div class="follow-label">Follow Me</div>
        <div class="soc">
            <a target="_blank" href="https://www.linkedin.com/in/joaoariedi/">
                <span class="icon fab fa-linkedin"></span>
            </a>
            <a target="_blank" href="https://github.com/joaoariedi">
                <span class="icon fab fa-github"></span>
            </a>
        </div>
    </div>
    <div class="clear"></div>
</footer>

{% include 'includes/_scripts.html' %}
{% block extrascripts %}{% endblock extrascripts %}