{% load static %}

<head>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="John Ariedi, Organizational Intelligence Manager and Python Developer" />
	<meta name="keywords" content="data mining, data analytics, ETL, Python, resume, cv" />
	<meta name="author" content="John Ariedi" />

	<!-- Title -->
	<title>Ariedi - Organizational Intelligence </title>

    {% include "includes/_styles.html" %}

    <link rel="shortcut icon" href={% static "images/favicons/fav2.png" %}>

</head>