<!-- Header -->
<header class="header">
    <div class="head-top">

        <!-- menu button -->
        <a href="" class="menu-btn"><span></span></a>

        <!-- logo -->
        <div class="logo hover-masks-logo">
            <a href={% url 'home' %}>
                <span class="mask-lnk">John <strong>Ariedi</strong></span>
                <span class="mask-lnk mask-lnk-hover">João <strong>Ariedi</strong></span>
            </a>
        </div>

        <!-- top menu -->
        <div class="top-menu hover-masks">
            <div class="top-menu-nav">
                <div class="menu-topmenu-container">
                    <ul class="menu">
                        {% if request.path == '/' %}
                        <li class="menu-item current-menu-item">
                            <a href="#section-started">Home</a>
                        </li>
                        <li class="menu-item">
                            <a href="#section-services">Service</a>
                        </li>
                        <li class="menu-item">
                            <a href="#section-history">Resume</a>
                        </li>
                        <li class="menu-item">
                            <a href="#section-skills">Skills</a>
                        </li>
                        <li class="menu-item">
                            <a href="#section-portfolio">Projects</a>
                        </li>
                        <li class="menu-item">
                            <a href="#section-contacts">Contact</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</header>
