{% load static %}

<!doctype html>
<html lang="en-US">

<!-- Head -->
{% include 'includes/_header.html' %}

<body class="home">

	<!-- Preloader -->
	<div class="preloader" aria-hidden="true">
		<div class="centrize full-width">
			<div class="vertical-center">
				<div class="spinner">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Container -->
	<div class="container" role="document">

		<!-- Cursor -->
		<div class="cursor-follower" aria-hidden="true"></div>

        <!-- Navbar -->
        <header role="banner">
            {% include 'includes/_navbar.html' %}
        </header>

        <!-- Main Content Start -->
        <main role="main" id="main-content">
            {% block content %}
            {% endblock content %}
        </main>
        <!-- Main Content Ends -->

        <!-- Footer -->
        <footer role="contentinfo">
            {% include 'includes/_footer.html' %}
        </footer>

        <!-- Lines (decorative) -->
		<div class="lines" aria-hidden="true">
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
		</div>

    </div>
</body>

</html>